*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
project-spec/meta-plnx-generated/
meta-plnx-generated/
.Xil/
components/plnx_workspace
vivado/
SD_Card/
